---
import {Clock} from "../../components/Clock.tsx";
---
<html>
    <body class="relative w-[1280px] h-[720px]">
        <div class="absolute bottom-0 right-0 font-mono bg-black text-white text-xl/[30px] px-1.5">
            <Clock client:load/>
        </div>
    </body>
</html>