---
import Layout from '../layouts/Layout.astro';
---

<Layout title="pyon.moe" sub="bite lemons 3d commissions">
    <div class="grid grid-cols-1 gap-5 justify-items-center">
        <a href="/">go back</a>

        <!-- todo image -->

        <div class="grid grid-cols-1 gap-4 w-[600px] font-serif">

        <p>
        quick pricing overview <br/>
        <b> 125$ </b> base price, .blend file with humanoid rigging for unity <br/>
        <b> +75$ </b> vseeface rigging <br/>
        <b> +$ </b> based on complexity <br/>
        <b> +$ </b> per prop or toggle <br/>

        <!-- todo show example pricing -->
        </p>

        <b> terms of service </b>

        <p>
            <b>pricing breakdown</b> <br/>
            this is how i will itemize the pricing. besides the base price + vseeface rig price, its all very fuzzy and this is just a rough idea. <br/>
            a prop is anything that requires extra bones in the rig beyond a human skeleton i.e. kemonomimi, baseball bat, hat, simple wings<br/>
            a toggle is a prop or expression that you can turn on and off in vseeface <br/>

            <b> base model - 125$ </b> <br/>
            includes .blend file, humanoid rigging for unity (you can make it do fortnite dances)<br/>

            <b> vseeface rigging - +75$ </b> <br/>
            includes .vseeface file, blendshapes for use with webcam and iphone tracking<br/>

            <b> one prop or toggle - included</b> <br/>

            <b> complexity - +0-50$ </b> <br/> 
            <!-- todo image examples -->
            +0$ example: someone in just shorts and a tshirt<br/>
            +25$ example: a model like the bite lemons model<br/>
            +50$ example: a model with a lot of frills or detail<br/>

            <b> prop - +15$ </b> <br/>

            <b> toggle - +25-50$</b> <br/>

            <b> extra outfit - +50-100$</b> <br/>

        </p>
        </div>

        <a href="/">go back</a>
    </div>
</Layout>