---
import Layout from '../layouts/Layout.astro';
---

<Layout title="pyon.moe" sub="bite lemons 3d commissions">
    <div class="grid grid-cols-1 gap-5 justify-items-center">
        <a href="/">go back</a>

        <!-- todo image -->

        <div class="grid grid-cols-1 gap-4 w-[600px] font-serif">

        <p>
            <b> quick overview </b> <br />
            <b>125$</b> base price <br/>
            <b>+75$</b> vseeface rigging <br/>
            <b>+0-50$</b> based on complexity <br/>
            <b>+15-50$</b> per prop or toggle <br/>

            your 'average' vtuber model rigged for vseeface with 2 expressions and togglable nekomimi would come up to <b>~275$</b><br/>

            delivery time should be under two months <br/>
            payment is upfront with paypal
        </p>

        <p>
            <b> content </b> <br/>
            i have a pretty specific art style and will slightly modify the design to fit that style. <br/>
            there are two choices of body type, either "realistic" or chibi, they cost the same <br/>
            i specialize in cute girl characters. male characters are okay if you want them to be cute :) <br/>
            i will not make furry characters, sorry. i just dont know how to make them look good. <br/>
            i won't make licenced characters or anything too graphic or sexually explicit.  <br/>
            i may accept humanoid robot characters, mild ecchi, or mild guro/body horror. so ask me about it! <br/>
        </p>

        <p>
            i currently don't offer animations/poses but if you really wanted that i could look into it. the same goes for vrchat rigging.
            in either of these cases it would be an extra cost and add an indefinite amount of time to the delivery time.
        </p>

        <p>
            <b>pricing breakdown</b> <br/>
            this is how i think about pricing. most of this is very fuzzy and its just to get an idea. <br/>
            a prop is anything that requires extra bones in the rig beyond a human skeleton i.e. kemonomimi, baseball bat, simple wings.
            i don't count things like hats or collars as props but they may increase the complexity cost. <br/>
            a toggle is a part of the model you can turn on and off in vseeface, or an expression. <br/>

            <b> base model - 125$ </b> <br/>
            includes .blend file, humanoid rigging for unity (you can make it do fortnite dances)<br/>
            <b> vseeface rigging - +75$ </b> <br/>
            includes .vseeface file, blendshapes for use with webcam and iphone tracking<br/>
            <b> one prop or toggle - included</b> <br/>
            <b> complexity - +0-50$ </b> <br/> 
            <!-- todo image examples -->
            +0$ example: pants and a tshirt; oozora subaru, nekomata okayu<br/>
            +25$ example: a jacket, collars, bracelets; henya the genius, inugami korone<br/>
            +50$ example: just alot of detail; hakos baelz, pipkin pippa<br/>

            <b> prop - +15$ </b> <br/>
            <b> toggle - +25-50$</b> <br/>
            <b> extra outfit - +50-100$</b> <br/>
        </p>

        <b> terms of service </b>
            <p>
                <b>process</b> <br/>
                commissions are accepted on a "i think i could do good with this design" basis, not necessarily first come first served.
                i'm not offering full character design and will only accept orders with visual references.
                payment is through paypal and must be paid in full before i begin work.
                updates will be given at important stages during the process 👍 .
            </p>

            <p>
                <b> refunds </b> <br/>
                all sales are final and cancellable only by me. a full refund will be given if i can not complete your order or working with you is too difficult
            </p>

            <p>
                <b>after</b> <br/>
                my models are free to use for personal/streaming use. you can not resell the model in full or in part.
                model calibration and bug fixes will be free within reason, please don't hesitate to ask if things arent working right! i will charge for big additions or changes.
                if you want to get additions to the model or get it rigged futher <i>by someone else</i> you can do that but it's not my responsiblity to fix it if things go wrong.
            </p>
        </div>

        <a href="/">go back</a>
    </div>
</Layout>