---
import Layout from "../layouts/Layout.astro";
---
<Layout title="pyon.moe" sub="commissions pricing">
    <div class="flex justify-center font-mono">
        commissions opening soon
    </div>
    <div class="flex justify-center font-mono">
        <a class="underline" href="/">go back</a>
    </div>
</Layout>