---
import List from "../components/List.astro";
import Layout from '../layouts/Layout.astro';
---
<Layout title="pyon.moe" sub="bite lemons 3d commissions">
    <div class="grid grid-cols-1 gap-5 justify-items-center">
        <a href="/">go back</a>

        <!-- todo comms image, with example of available body types -->

        <div class="grid grid-cols-1 gap-4 w-[600px] font-serif">
            <b>commissions are currently closed but will be opening soon</b>

            <b class="text-lg underline"> quick overview </b>

            <div>
                all prices listed are in USD <br/>
                <b>150$</b> - base price for .blend model with basic rigging <br/>
                <b>+75$</b> - base price for vseeface rigging <br/>
                <b>+$$</b> - extra costs based on complexity of the model or vseeface rig <br/>
            </div>

            <div>
                your 'average' vtuber design rigged for vseeface would come up to <b>~275$</b><br/>
                delivery time should be under <b>two months</b> <br/>
                payment method is <b>paypal upfront</b> <br/>
            </div>

            <div>
                contact info at the bottom of this page!
            </div>

            <b class="text-lg underline"> info </b>

            <div>
                <b> content </b> <br/>
                <List style="list-disc" items={[
                    "i have a pretty specific art style and will slightly modify the design to fit that style.",
                    // "there are two choices of body type, either \"realistic\" or chibi, they cost the same.",
                    "i specialize in cute feminine or androgynous characters. masculine characters might not get accepted",
                    "i won't make furry characters, licensed characters, or anything sexually explicit or too graphic.",
                    "i may accept humanoid cartoon/robot characters, mild ecchi, or mild guro/body horror. so ask me about it!",
                ]}/>
            </div>

            <div>
                <b> meta </b> <br/>
                <List style="list-disc" items={[
                    "commission slots are limited. orders are accepted on a \"i think i could do good with this design\" basis, not necessarily first come first served.",
                    "i'm not offering full character design and will only accept orders with visual references.",
                    "if you'd like a more general VRM rig instead of a vseeface rig, i can make that but the features will be limited and it will cost the same. ",
                    "i currently don't offer animations/poses for vseeface, 2d illustrations, or VRChat rigging. these are things i would like to offer in the future, so if it is truly a deal breaker, let me know and maybe we could work something out. it will come with an additional cost and may add considerable time to the delivery time",
                    "i will not rig models made by someone else.",
                ]}/>
            </div>

            <div>
                <b> pricing </b> <br/>
                <List style="list-disc" items={[
                    "<span class=\"underline\"> base model - 150$ </span> <br/> includes .blend file, humanoid rigging for unity (you can make it do fortnite dances)",
                    "<span class=\"underline\"> vseeface rigging - +75$ </span> <br/> includes .vsfavatar file, can be used with both webcam and iphone tracking, maybe a togglable emotion or two.",
                    "<span class=\"underline\"> complexity - +0$ and up </span> <br/> i'd like to think of the design as a whole, rather than breaking it down into parts and charging for each aspect individually, and i think just an overall 'complexity' price suits that best.  hopefully the following examples can help give you an idea of what the price for your design will be.",
                ]}/>
            </div>

            <div>
                <b> 'complexity' pricing </b> <br/>
                <List style="list-disc" items={[
                    // TODO complexity image examples
                    "<span class=\"underline\"> +0$ example:</span> pants and a tshirt; oozora subaru",
                    "<span class=\"underline\"> +25$ example:</span> kemonomimi, tail; nekomata okayu",
                    "<span class=\"underline\"> +50$ example:</span> inugami korone",
                    "<span class=\"underline\"> +75$ example:</span> a jacket, collars, bracelets; henya the genius",
                    "<span class=\"underline\"> +100$ example:</span> just alot of detail; hakos baelz, pipkin pippa",
                ]}/>
                things that add to model complexity: extra outfits, complex hair, <br/>
                things that add to rig complexity: togglable emotions, complex hair or clothes physics <br/>
            </div>

            <div>
                <b> after completion </b> <br/>
                <List style="list-disc" items={[
                    "i will help with calibration and bug fixes to the best of my ability, please don't hesitate to ask if things arent working right!",
                    "you can ask for changes or additions to the model but i will charge for them.",
                ]}/>
            </div>

            <b class="text-lg underline"> terms </b>

            <div>
                <b>process</b> <br/>
                <List style="list-disc" items={[
                    "the model should take under two months to complete, but it make take longer. i want to be good about finishing orders on time but i am new to this. please be nice to me while i figure it out",
                    "updates will be given at important stages during the process. i expect feedback after i send an update, to make sure everything is on the right track. the process may stall until you get back to me",
                    "you can ask for revisions and model changes within reason but i may charge extra. the later the revision is asked for, or the more work it is, the more likely i will charge extra",
                    "i may show the creation of your model on stream or social media, and may use it later in a portfolio or as commission samples. if you take issue with this, be sure to let me know"
                ]}/>
            </div>

            <div>
                <b> payment </b> <br/>
                <List style="list-disc" items={[
                    "payment is through paypal and must be paid in full before i begin work.",
                    "all sales are final unless i refund them",
                    "a full refund will be given if i can not complete your order or working with you is too difficult.",
                ]}/>
            </div>

            <div>
                <b>usage</b> <br/>
                <List style="list-disc" items={[
                    "models are free to use for personal use, streaming and content creation. by default, you can not use it for commercial uses outside of those; if you wanted to, let me know and we might be able to work something out.",
                    "you can not resell the model in full or in part.",
                    "if you want to get additions to the model or get it rigged futher <i>by someone else</i> you can do that, but it's not my responsiblity to fix it if things go wrong.",
                    // TODO put actual links
                    "credit is mandatory on your streaming or content creation profile page (i.e. a twitch or youtube about section). credit would be appreciated on social media (i.e. in a twitter bio) but isnt necessary. acceptable credit is a link to pyon.moe, a link to my twitch account, or to my twitter profile @_bitelemons"
                ]}/>
            </div>

            <b class="text-lg underline"> contact </b>
            <div>
                <i> by contacting me for an order, you confirm you've read everything on this page and agree to the terms. </i> <br/>
                you can contact me by email: bitelemons at gmail dot com <br/>
                please do not DM my twitter for commission requests. <br/>
                include some visual references to give me as clear an idea of what youre looking for as possible! <br/>
                looking forward to working with you!!!
            </div>
        </div>

        <a href="/">go back</a>
    </div>
</Layout>