---
import Banner from '../components/Banner.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="pyon.moe">
    <div class="grid grid-cols-1 justify-items-center">
        <div class="flex flex-row">
        <img class="m-1" src="/images/nice_logo.png" width="216" height="123" alt="pyon.moe logo" />
        <img class="m-1" src="/images/square.png" width="92" height="123" alt="301bio fire diamond" />
        <img class="m-1" src="/images/bio.png" width="92" height="123" alt="biohazard symbol" />
        </div>
        <div> home of mel aise + bite lemons - updated 02/13/2023 </div>
        <div> commissions opening soon </div>
        <a href="/works">works</a>
        <div class="grid grid-cols-3 m-1 gap-3">
            <a href="https://twitch.tv/bitelemons" target="_blank">
                <img src="/images/socials/twitchlogobig.png"  width="48" alt="twitch"/>
            </a>
            <a href="https://twitter.com/_bitelemons" target="_blank">
                <img src="/images/socials/twitterlogobig.png" width="48" alt="twitter"/>
            </a>
            <a href="https://discord.gg/X9a3z7AMGa" target="_blank">
                <img src="/images/socials/discordlogobig.png" width="48" alt="discord"/>
            </a>
        </div>
        <div class="grid grid-cols-4 gap-0.5">
            <Banner name="construction2" />
            <Banner name="chill_pill" />
            <Banner name="caramelldansen" />
            <img src={"/images/banners/pdm_2.png"} width="88" alt="pyondotmoe" />

            <Banner name="firefox" />
            <Banner name="mind2" />
            <img src={"/images/banners/cat2.png"} width="88" alt="cat" />
            <Banner name="ostan" />

            <Banner name="homicide" />
            <Banner name="anow" />
            <Banner name="tos" />
            <Banner name="donate" />
        </div>
    </div>
</Layout>