---
import List from "../components/List.astro";
import Section from "../components/Section.astro";
import Layout from '../layouts/Layout.astro';
import Subsection from "../components/Subsection.astro";
---

<Layout title="pyon.moe" sub="bite lemons 3d terms of service" curr_page="3d terms" do_bottom_nav>
    <Section title="Terms of Service" bg_color="bg-lmn-yellow">
        <div class="mt-1 px-1.5">
            Any of the terms listed here are subject to change on a case by case basis, agreed on through further conversation between myself and the client.
        </div>

        <Subsection title="process">
            <List style="list-disc" items={[
                "I expect the model should be finished in under two months from the time I recieve payment, but it may take longer. If the order can not be completed within a timeframe I deem reasonable, the order will be cancelled and fully refunded.",
                "Updates will be given at important stages during the process. I expect feedback after I send an update, to make sure everything is on the right track. If you do not reply to these messages within 3 business days I may cancel the order.",
                "You may ask for revisions and model changes but I may charge extra and have the right to reject any request for any reason. The later in the process the revision is asked for, or the more work it is, the more likely I will charge extra or reject it.",
                "I may show the creation of your model on stream or social media. If you take issue with this, be sure to let me know beforehand."
            ]}/>
        </Subsection>

        <Subsection title="payment">
            <List style="list-disc" items={[
                "Payment is through Paypal and must be paid in full before I begin work.",
                "Payment for the model must be sent within 3 business days of me sending the payment link, or the order may be cancelled and the commission slot given to someone else.",
                "Payment for revisions or model changes must be sent within 3 business days of me sending the payment link, or the request may be rejected.",
            ]}/>
        </Subsection>

        <Subsection title="cancellation">
            <List style="list-disc" items={[
                "I may cancel your order at any time for any reason, including but not limited to my own personal life issues or rudeness on your part.",
                "If I cancel your order a full refund will be given.",
                "You may cancel your order at any time but you will not be refunded.",
            ]}/>
        </Subsection>

        <Subsection title="usage">
            <List style="list-disc" items={[
                "I alone own the rights to the model and may use it for any purpose in the future.",
                "Models may be used for personal use, streaming and content creation. This includes using the model or renders of the model as promotional materials or on social media for icons, thumbnails, banners, et cetera. Other commercial uses, including selling merchandise made using the model, are handled on a case by case basis.",
                "The model may be used in a modified form but you must not misrepresent any modifications as part of the original work.",
                "You may not resell the model in full or in part, in its original or any modified form. Renders of the model may not be sold.",
                "Model and renders of the model may not be used for anything related to NFTs (non-fungible tokens), cryptocurrencies, or AI-generated art.",
                "Credit must be given on the internet profile you use the model most frequently. Acceptable credit is a link to my website (pyon.moe), my twitch account (twitch.tv/bitelemons), or my twitter profile (twitter.com/_bitelemons)."
            ]}/>
        </Subsection>
    </Section>
</Layout>