<div class="text-center opacity-50">
    site made with <a class="underline hover:font-bold hover:text-lmn-red" href="https://astro.build/" target="_blank">astro.build</a>
    (c)&nbsp;mel&nbsp;aise&nbsp;2023
</div>