---
export interface Props {
    items: string[];
    style: string | null;
}

const {items,style} = Astro.props;
---

<ul class={"list-inside " + style??"list-none"}>{items.map((item: string)=><li set:html={item}></li>)} </ul>
