---
import LinkRow from "../components/LinkRow.astro";

export interface Props {
    curr_page: PageName;
}

export type PageName = "home" | "2d" | "3d"| "3d comms" | "3d terms" | "2d comms" | "2d terms" | "none";

const { curr_page } = Astro.props;

const onCommsPage = (curr_page === "3d comms")
				 || (curr_page === "3d terms")
                 || (curr_page === "2d comms")
				 || (curr_page === "2d terms");

const nav_links = [
	{
		text: "home",
		href: "/",
		deactivated: curr_page === "home",
		class_ext: ["hover:bg-lmn-blue hover:text-lmn-slate hover:font-bold"],
	},
	{
		text: "comms",
		href: "/commissions_3d",
		deactivated: onCommsPage,
		class_ext: ["hover:bg-lmn-yellow hover:text-lmn-slate hover:font-bold"],
	},
	{
		text: "3d art",
		href: "/works_3d",
		deactivated: curr_page === "3d",
		class_ext: ["hover:bg-lmn-green hover:text-lmn-slate hover:font-bold"],
	},
	{
		text: "2d art",
		href: "/works_2d",
		deactivated: curr_page === "2d",
		class_ext: ["hover:bg-lmn-pink hover:text-lmn-slate hover:font-bold"],
	},
];

const row_two = [
	{
		text: "3d comms",
		href: "/commissions_3d",
		deactivated: curr_page === "3d comms",
		class_ext: ["hover:bg-lmn-green hover:text-lmn-slate hover:font-bold"],
	},
	{
		text: "3d ToS",
		href: "/terms_3d",
		deactivated: curr_page === "3d terms",
		class_ext: ["hover:bg-lmn-pink hover:text-lmn-slate hover:font-bold"],
	},
	/*
	{
		text: "2d comms",
		href: "/commissions_2d",
		deactivated: curr_page === "2d comms",
		class_ext: ["hover:bg-lmn-blue hover:text-lmn-slate hover:font-bold"],
	},
	{
		text: "2d ToS",
		href: "/terms_2d",
		deactivated: curr_page === "2d terms",
		class_ext: ["hover:bg-lmn-yellow hover:text-lmn-slate hover:font-bold"],
	},
	*/
];
---

<div class="text-sm sm:text-base">
    <LinkRow links={nav_links} />
    {onCommsPage && <LinkRow links={row_two} />}
</div>