---
import Copyright from "./Copyright.astro";
import Link from "./Link.astro";
---

<div class="flex flex-col gap-4 text-lmn-slate">
    <div class="text-center"> <Link href="/">go back</Link> </div>
    <slot />
    <div class="text-center"> <Link href="/">go back</Link> </div>
    <Copyright />
</div>