<div class="px-1.5">
    <table class:list={[
        "first:prose-td:pr-1",
        "first:prose-td:text-right first:prose-td:align-top",
        "first:prose-td:whitespace-nowrap"
    ]}>
        <slot />
    </table>
</div>