---
export interface Props {
    title: string;
}

const {title} = Astro.props;
---
<div class="grid grid-cols-1">
    <b class="text-lg underline bg-[#d0d0e0] text-[#161616] p-1.5"> {title} </b>
    <div class={"grid grid-cols-1 gap-4 p-1.5 bg-[#e8e8f8] text-[#161616]"}>
        <slot />
    </div>
</div>