---
export interface Props {
    title: string;
}

const {title} = Astro.props;
---
<div>
    <div class="font-bold px-1.5 py-1 bg-blue-white-shade">{title}</div>
    <div class="px-1.5">
        <slot />
    </div>
</div>