---
import Button from "./Button.astro";
import Card from "./Card.astro";

export interface Props {
    date: string;
    link?: string;
};

const {date, link} = Astro.props;

---
<Card>
    <div class="bg-blue-white-shade font-mono">
        <div class="flex flex-row justify-between not-prose">
            <div class="px-1.5 py-1"> { date } </div>
            { link ?
                <Button
                    text="link"
                    href={link}
                    class_ext={["hover:bg-lmn-blue hover:font-bold hover:text-lmn-slate"]}
                    target="_blank"
                />
                :
                <></>
            }
        </div>
        <slot />
    </div>
</Card>