---
import Button from "./Button.astro";

export interface Props {
    date: string;
    link?: string;
    info?: string;
    imgs: (string | { image: string, preview: string })[];
};

const {date, link, info, imgs} = Astro.props;

---
<div class="bg-blue-white-shade drop-shadow">
    <div class="flex flex-row">
        <div class="px-1.5 py-1"> { date } </div>
        { link ?
            <Button text="link" href={link} class_ext={["ml-auto hover:bg-lmn-blue hover:font-bold hover:text-lmn-slate"]} target="_blank" />
            :
            <></>
        }
    </div>
    { info ?  <div class="px-1.5 py-1"> {info} </div> : <></> }
    {imgs.map((img: string | { image: string, preview: string }) => {
        if ((typeof img) === "string") {
            const i = img as string;
            return <a href={"/works/" + i}>
                <img src={"/works/" + i} alt={i}/>
            </a>;
        } else {
            const i = img as {image: string, preview: string};
            return <a href={"/works/" + i.image}>
                <img src={"/works/" + i.preview} alt={i.image}/>
            </a>;
        }
    })}
    <slot />
</div>