---
import { Image } from "@astrojs/image/components";

export interface Props {
    date: string;
    link: string;
    info?: string;
    imgs: string[];
};

const {date, link, info, imgs} = Astro.props;
---

<div>
    {date} <a href={link}> link </a> <br/>
    {info ? <>{info}<br/></> : ""}
    {imgs.map((img: string) => {
        return <a href={"/src/works/" + img}>
            <Image class="m-1" src={import("/src/works/" + img)} width="600" alt={img}/>
        </a>;
    })}
    <slot />
</div>
