---
export interface Props {
    date: string;
    link: string;
    info?: string;
    imgs: string[];
};

const {date, link, info, imgs} = Astro.props;
---

<div class="bg-[#d0d0e0] text-[#161616]">
    <div class="px-1.5 py-1">
        {date} <a href={link}> link </a> <br/>
        {info ? <>{info}<br/></> : ""}
    </div>
    {imgs.map((img: string) => {
        return <a href={"/works/" + img}>
            <img src={"/works/" + img} alt={img}/>
        </a>;
    })}
    <slot />
</div>
