---
import Button from "../components/Button.astro";
import Footer from "../components/Footer.astro";
import LinkRow from "../components/LinkRow.astro";
import Nav from "../components/Nav.astro";
import MainMDXLayout from "./MainMDXLayout.astro";
const {frontmatter} = Astro.props;

export const commsProse = [
    "prose-p:px-1.5",
    "first:prose-td:pr-1",
    "first:prose-td:text-right first:prose-td:align-top",
    "first:prose-td:whitespace-nowrap"
];
---
<MainMDXLayout frontmatter={frontmatter}>
    <div class:list={["flex flex-col gap-4 mt-3", ...commsProse ]}>

        <div class="not-prose">
            <div class="drop-shadow bg-white font-sans text-sm sm:text-base p-[6px]">
                <div class="flex flex-col border-[3px] border-lmn-slate">
                    <LinkRow links={[
                        {
                            text: "pyon.moe",
                            href: "/",
                            class_ext: ["hover:bg-lmn-slate hover:text-white hover:font-bold"],
                        },
                        "px-1.5 py-1",
                        "px-1.5 py-1",
                        "px-1.5 py-1"
                    ]} />
                    <div class="h-[2px] border-t-[2px] border-lmn-slate" />
                    <Nav curr_page={frontmatter.page} />
                </div>
            </div>
        </div>

        <slot />
        <div class="not-prose">
            <Footer />
        </div>
    </div>
</MainMDXLayout>