---
import LinkRow from "../components/LinkRow.astro";
import Section from "../components/Section.astro";
import Layout from "./Layout.astro";

const {frontmatter} = Astro.props;

const title = frontmatter.company + " Cover Letter";
---
<Layout title="pyon.moe" sub={title} curr_page="none" no_top_nav>
    <div class:list={[
        "flex flex-col gap-4 prose",
        "prose-h2:font-bold prose-h2:-mx-1.5 prose-h2:px-1.5 prose-h2:py-1 prose-h2:mb-0.5 prose-h2:bg-blue-white-shade",
        "prose-ul:list-inside prose-ul:list-disc",
        "prose-img:border-2 prose-img:border-[#d8d8e8]",
        "prose-hr:h-4",
        "prose-p:indent-8",
        "prose-strong:font-bold",
        "hover:prose-a:text-lmn-red prose-a:underline",
        "prose-blockquote:-mx-1.5 prose-blockquote:p-1.5 prose-blockquote:bg-lmn-blood prose-blockquote:text-lmn-white prose-blockquote:text-center"
    ]}>
        <div class="not-prose">
            <LinkRow links={frontmatter.links} />
        </div>

        <Section title={title} bg_color="bg-lmn-blue">
            <div class="h-1" />
            <slot />
        </Section>
    </div>
</Layout>