---
import Footer from "../components/Footer.astro";
import LinkRow from "../components/LinkRow.astro";
import Section from "../components/Section.astro";
import { commsProse } from "./CommsLayout.astro";
import MainMDXLayout, { mainMdxProse } from "./MainMDXLayout.astro";

const {frontmatter} = Astro.props;

const title = frontmatter.company + " Cover Letter";
---
<MainMDXLayout frontmatter={frontmatter} >
    <div class:list={["flex flex-col gap-4", ...commsProse,]}>
        <div class="not-prose">
            <LinkRow links={frontmatter.links} />
        </div>

        <Section>
            <div class="bg-lmn-blue">
                <h1>{title}</h1>
            </div>
            <div class="h-1" />
            <div class="prose-p:indent-8">
                <slot />
            </div>
        </Section>

        <Footer />
    </div>
</MainMDXLayout>