---
import Link from "../components/Link.astro";
import LinkRow from "../components/LinkRow.astro";

export type PageName = "home" | "2d" | "3d"| "3d comms";

export interface Props {
	title: string;
	sub?: string;
	curr_page: PageName;
	do_bottom_nav?: boolean;
}

const { title, sub, curr_page, do_bottom_nav } = Astro.props;

const nav_links = [
	{
		text: "home",
		href: "/",
		deactivated: curr_page === "home",
		class_ext: ["hover:bg-lmn-blue hover:text-lmn-slate hover:font-bold"],
	},
	{
		text: "3d comms",
		href: "/commissions_3d",
		deactivated: curr_page === "3d comms",
		class_ext: ["hover:bg-lmn-yellow hover:text-lmn-slate hover:font-bold"],
	},
	{
		text: "3d art",
		href: "/works_3d",
		deactivated: curr_page === "3d",
		class_ext: ["hover:bg-lmn-green hover:text-lmn-slate hover:font-bold"],
	},
	{
		text: "2d art",
		href: "/works_2d",
		deactivated: curr_page === "2d",
		class_ext: ["hover:bg-lmn-pink hover:text-lmn-slate hover:font-bold"],
	},
];
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{sub ? title + " - " + sub : title}</title>
	</head>
	<body class="flex flex-col gap-4 font-mono text-lmn-slate container md:max-w-sm px-2 mx-auto">
        <div class="text-sm sm:text-base">
			<LinkRow links={nav_links} />
		</div>
		<slot />
		{ do_bottom_nav &&
			<div class="text-sm sm:text-base">
				<LinkRow links={nav_links} />
			</div>
		}
		<div class="text-center opacity-50"> site made with <a class="underline hover:font-bold hover:text-lmn-red" href="https://astro.build/" target="_blank">astro.build</a> (c)&nbsp;mel&nbsp;aise&nbsp;2023 </div>
	</body>
</html>
<style is:global>
	html {
		background-color: #b0b0b0;
		background-image: url("/images/bg_img2.jpg");
		background-size: 100%;
		background-attachment: fixed;
	}
</style>
