---
export interface Props {
	title: string;
	sub?: string;
}

const { title, sub } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{sub ? title + " - " + sub : title}</title>
	</head>
	<body class="font-mono text-lmn-slate container md:max-w-sm px-2 mx-auto">
		<slot />
	</body>
</html>
<style is:global>
	html {
		background-color: #b0b0b0;
		background-image: url("/images2/parcelbg.jpg");
		background-size: 100%;
		background-attachment: fixed;
	}
</style>
