---
export interface Props {
	title: string;
	sub?: string;
}

const { title, sub } = Astro.props;
---

<!DOCTYPE html>
<html class="bg-white font-mono" lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{sub ? title + " - " + sub : title}</title>
	</head>
	<body>
		<slot />
	</body>
    <div class="flex justify-center">
        (c) mel aise 2023
    </div>
</html>
<style is:global>
	a {
		text-decoration: underline;
	}
	a:hover {
		color: #c5180d;
	}
</style>
