---
import Container from "../components/Container.astro";
import Nav, {Props as NavProps} from "../components/Nav.astro";

export interface Props {
	title: string;
	sub?: string;
	curr_page: NavProps["curr_page"];
	do_bottom_nav?: boolean;
}

const { title, sub, curr_page, do_bottom_nav } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{sub ? title + " - " + sub : title}</title>
	</head>
	<body class="flex flex-col gap-4 items-center font-mono text-lmn-slate">
		<Container>
			<div class="text-sm sm:text-base">
				<Nav curr_page={curr_page} />
			</div>
		</Container>
		<slot />
		{ do_bottom_nav &&
			<>
				<Container>
					<div class="text-sm sm:text-base">
						<Nav curr_page={curr_page} />
					</div>
				</Container>
			</>
		}
		<div class="text-center"> (c) mel aise 2023 </div>
	</body>
</html>
<style is:global>
	html {
		background-color: #b0b0b0;
		background-image: url("/images/bg_img2.jpg");
		background-size: 100%;
		background-attachment: fixed;
	}
</style>
