---
import Layout from "./Layout.astro";
const {frontmatter} = Astro.props;

export const mainMdxProse = [
    "prose",
    "prose-h1:font-bold prose-h1:font-serif prose-h1:px-1.5 prose-h1:py-1 prose-h1:text-base sm:prose-h1:text-lg",
    "prose-h2:font-bold prose-h2:px-1.5 prose-h2:py-1 prose-h2:mb-0.5 prose-h2:bg-blue-white-shade",
    "prose-h3:px-1.5 prose-h3:py-1 prose-h3:text-xs sm:prose-h3:text-base",
    // "prose-p:px-1.5",
    "prose-ul:px-1.5 prose-ul:list-inside prose-ul:list-disc",
    "prose-ol:px-1.5 prose-ol:list-inside prose-ol:list-decimal",
    "prose-hr:h-4",
    "prose-strong:font-bold",
    "prose-blockquote:p-1.5 prose-blockquote:bg-lmn-blood prose-blockquote:text-lmn-white prose-blockquote:text-center",
    "hover:prose-a:text-lmn-red prose-a:underline",
];
---
<Layout title="pyon.moe" sub={frontmatter.sub} >
    <div class:list={mainMdxProse}>
        <slot />
    </div>
</Layout>