---
import MainMDXLayout from "./MainMDXLayout.astro";
const {frontmatter} = Astro.props;
---
<MainMDXLayout frontmatter={frontmatter}>
    <div class="flex flex-col gap-6 sm:gap-10">
        <slot />
    </div>
</MainMDXLayout>